body {

}

#picture {
	margin: auto; /* centers the image */
	width: 100px;
	height: 100px;
	border-radius: 50px; /* this makes the rounded corners */
	/* These next two fields are for cross browser compatibility */
	-webkit-border-radius: 50px; /* for safari */
	-moz-border-radius: 50px; /* for firefox */
	background: url(http://placekitten.com/100/100) no-repeat; /* replace with your own url */
	
	/* Uncomment this line if your photo is wide */
	 /* background-size: auto 100%; */

	/* Uncomment this line if your photo is long */
	/* background-size: 100% auto; */
	
}
